* {
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box
}
.list-inline>li {
 display:inline-block;
 padding-right:5px;
 padding-left:5px
}
.container {
 padding-right:0px;
 padding-left:0px;
 margin-right:auto;
 margin-left:auto
}
@media (min-width:992px) {
 .container {
  width:970px
 }
}
@media (min-width:1200px) {
 .container {
  width:1170px
 }
}
.container-fluid {
 padding-right:15px;
 padding-left:15px;
 margin-right:auto;
 margin-left:auto
}
.row {
 margin-right:-15px;
 margin-left:-15px
}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
 position:relative;
 min-height:1px;
 padding-right:15px;
 padding-left:15px
}
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
 float:left
}
.col-xs-12 {
 width:100%
}
 .col-md-6 {
  width:50%
 }
 .col-md-3 {
  width:25%
 }
.nav>li>a {
 position:relative; display:block; padding:10px 15px;
}


.btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before {
 display:table;
 content:" "
}
.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group:after,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after {
 clear:both
}
.hidden {
 display:none!important
}
.affix {
 position:fixed
}
.visible-lg,.visible-md,.visible-sm,.visible-xs {
 display:none!important
}
* {
 margin:0;
 padding:0;
 font-family:Roboto,sans-serif;
 font-weight:300
}
a:link {
 text-decoration:none
}
.buscador ul li a {
 font-size:14px;
 font-weight:bolder;
 color:#fff
}
.buscador .contenedor-buscador {
 display:table;
 width:70%}
.buscador .contenedor-buscador.destacado {
 border:1px solid #000
}
.buscador .column-1,.buscador .column-3 {
 display:table-cell;
 float:none;
 vertical-align:middle
}
.buscador .column-1 {
 width:80%;
 background-color:#000
}
buscador .column-3 {
 width: 20%;
 background-color:#cfd638
}
.buscador .column-3 a {
 color:#000;
 font-size:18px
}
.buscador .column-1>div,.buscador .column-2>div,.buscador .column-3>div {
 margin:0
}
.comentarios .enlace_opiniones {
 text-decoration:none;
 color:#000
}
.comentarios .linea_1 {
 font-size:20px
}
.comentarios .linea_2 a {
 color:#aec400
} 
.footer-web {
 background-color:#222;
 color:#989898;
 font-size:10px;
 margin:0;
 text-align:right
}
.footer-web .footer-terminos,.footer-web .text-derecha {
 text-align:right
}
.footer-web .a-footer--redes:focus,.footer-web .a-footer--redes:hover,.footer-web .a-footer--redes:visited {
 background-color:#222
}
.footer-web .footer-elem {
 padding:10px
}
.footer-web .footer-elem a {
 color:inherit
}
table, th, td {
    border: 1px solid white;
}